<div class="row justify-content-center">
	<div class="flex-row flex-md-column mr-5">
		<a
			*ngFor="let lesson of lessons"
			(click)="navigateToLesson(lesson)"
			[class]="'btn mb-2 ' + (selectedLesson?.id === lesson.id ? ' btn-primary ' : '') + (lesson.isCompleted ? ' btn-outline-primary ' : '')"
			>{{ lesson.title }}</a
		>
	</div>
	<div *ngIf="selectedLesson" class="flex-grow-1">
		<app-lessons-list-item
			[courseId]="courseId"
			[lesson]="selectedLesson"
			[prevLessonId]="prevLesson"
			[nextLessonId]="nextLesson"
			(completeLesson)="completeLesson($event)"
		></app-lessons-list-item>
	</div>
</div>
